<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  商品一覧<br>
  (applicationスコープ)<br><br>
  
  <form th:action="@{/shopping-cart/in-cart}" method="post">
    <span th:each="item,status : ${application.items}">
      <span th:text="${item.name}"></span>
      <span th:text="${#numbers.formatInteger(item.price, 1, 'COMMA')} + 円"></span>
      <button th:value="${status.index}" name="num1">カートへ</button><br><br>
    </span>
  </form>
  <hr>

  ショッピングカート<br>
  (sessionスコープ)<br><br>
  <form th:action="@{/shopping-cart/delete}" method="post">
    <span th:each="item,status : ${session.cart}">
      <span th:text="${item.name}"></span>
      <span th:text="${#numbers.formatInteger(item.price, 1, 'COMMA')} + 円"></span>
      <button th:value="${status.index}" name="num2">削除</button><br><br>
    </span>
  </form>
  <hr>

  合計(requestスコープ)<br>
  <span th:text="${#numbers.formatInteger(sum, 1, 'COMMA')}">dummy</span>円
</body>
</html>